body{   
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient( white, white);
    margin: 0;
}
h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}
h2{
    font-size: 30px;
}
.misson-p{
    margin-top: 30px;
    margin-bottom: 30px;
}
.flexible-cont{
    display: flex;
    margin-top: 40px;
    padding-bottom: 10px;
    margin-left: 10%;
    
}
.flaxible-mission{
    margin-bottom: 20px;
}

.width-half{
    width: 50%;
    margin-right: 10%;
    padding-bottom: 50px;
}

.width-half img{
    width: 80%;
 
}

.orange-color{
    color: #F79D57;
}
#web-mission{
    border-left: 5px solid;
    border-image: linear-gradient(orange, yellow);
    border-image-slice: 1;
    padding: 10px;


}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF5959, red);
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
}
.flaxible-mission{
    margin-right: 120px;
}
.width-third{
    width: 33%;
    border-radius: 1px solid black;
    background: magenta;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}
.width-third img{
    width: 50%;
}
.missin-h2{
    text-align: center
}
#bg-1{
    background-color: #EDF5F6;
}
#bg-2{
    background-color: #FFEEEE;
}
#bg-3{
    background-color: #FFF4D6;
}
.community-bg{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 85%;
    background-position-y: 100%;
    background-size: 10%;
}
.Work-h1{
    text-align: center;
    color: black;
}
.contact-input{
    padding: 10px 30px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.foter-con{
    padding: 25px;
    text-align: center;
    color: white;
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient(black, black);;
}




